# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: tdubois <tdubois@student.42angouleme.fr>   +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2023/04/05 11:27:00 by tdubois           #+#    #+#              #
#    Updated: 2023/04/05 11:27:01 by tdubois          ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

/.cache
/.vscode
/.build
/.build-test

/compile_commands.json
/libft.a
/test
